body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: floralwhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main, header { width: 95%; }

header {
    height: 10%;
    color: floralwhite;
    background-color: orangered;
}
main { height: 85%; }
header * { padding: 1%; }

#user {
    width: 20%;
    color: snow;
    background-color: brown;
}
#search {
    width: 80%;
    overflow-y: auto;
    background-color: lightsalmon;
}
#user, #search { height: 100%; }

#sections { 
    width: 80%; 
    height: 100%;
}

[id*='section_'] div {
    padding: 2%;
    width: 100%;
    color: snow;
    margin-bottom: 2%;
    border-radius: 5px;
    border: 2px groove brown;
    background-color: brown;
}
[id*='section_'] { 
    margin: 2%;
    width: 45%;
    height: 100%;
}
label { 
    width: 35%;
    font-weight: bold; 
}
input, select { width: 60%; }
label, input, select { height: 100%; }

.note {
    font-size: small;
    font-weight: bold;
}

button {
    border: 0;
    margin: 1%;
    width: 15vw;
    height: 5vh;
    color: snow;
    cursor: pointer;
    border-radius: 10px;
    background-color: orangered;
}
button:hover { 
    color: black;
    border: 2px groove brown;
    background-color: orange; 
}

.hidden { display: none; }

table { 
    width: 50vw; 
    height: 20vh;
}
tr { 
    width: 100%; 
    height: 30%;
}
th {
    width: 30%;
    color: snow;
    background-color: orangered;
}
td {
    width: 70%;
    color: snow;
    overflow-x: auto;
    background-color: brown;
}

.limit_btn {
    width: 15%;
    padding: 2%;
}
#limit-div { margin: 1%; }
.active { background-color: brown; }

hr { width: 95%; }
h4 { margin: 0; padding: 0; }
h4, form { padding-bottom: 2%; }