body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: floralwhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main, header { width: 95%; }

header {
    height: 10%;
    color: floralwhite;
    background-color: orangered;
}
main { height: 85%; }
header * { padding: 1%; }

#user {
    width: 20%;
    color: snow;
    background-color: brown;
}
#search {
    width: 80%;
    overflow-y: auto;
    background-color: lightsalmon;
}
#user, #search { height: 100%; }

#sections { 
    width: 80%; 
    height: 80%;
}

form div {
    height: 5%;
    padding: 2%;
    width: 100%;
    color: snow;
    margin-bottom: 2%;
    border-radius: 5px;
    border: 2px groove brown;
    background-color: brown;
}
form { 
    margin: 2%;
    width: 45%;
    height: 100%;
}
label { 
    width: 35%;
    font-weight: bold; 
}
input, select { width: 60%; }
label, input, select { height: 80%; }

.note {
    font-size: small;
    font-weight: bold;
}

button {
    border: 0;
    margin: 1%;
    width: 15vw;
    height: 5vh;
    color: snow;
    cursor: pointer;
    border-radius: 10px;
    background-color: orangered;
}
button:hover { 
    color: black;
    border: 2px groove brown;
    background-color: orange; 
}