<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NextGame : Now!</title>
        <link rel="stylesheet" href="https://adz946.github.io/css/flex.css" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}" /> 
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $(document).ready(function() {
            // Setup autocomplete function pulling from _index.game_autocomplete route
            ['game_1', 'game_2', 'game_3'].forEach(function(id) {
                $('#' + id).autocomplete({
                    source: '{{ url_for("_index.game_autocomplete") }}',
                    minLength: 3,
                    select: function(event, ui) {
                        // Select Title
                        event.preventDefault();
                        $(this).val(ui.item.label);
                        // Add ID
                        num = $(this).attr("id").split("_")[1]
                        $("#id_" + num).val(ui.item.id)
                    }
                });
            });
            // Confirmation function
            $("#confirm").on("click", function() {
                var gameIds = ['id_1', 'id_2', 'id_3'].map(id => $('#' + id).val()).filter(id => id);
                if (gameIds.length > 0) {
                    $.ajax({
                        url: '/fetch_game_details',
                        type: 'GET',
                        traditional: true,  // Ensure array parameters are passed correctly
                        data: {id: gameIds},
                        success: function(data) {
                            $('#similar_genres').val(data.genres);
                            $('#similar_tags').val(data.tags);
                            $('#similar_platforms').val(data.platforms);
                            alert("Success! Games have been added")
                            alert("Genres: " + data.genres)
                            alert("Tags: " + data.tags)
                            alert("Platforms: " + data.platforms)
                        },
                        error: function() { alert('Failed to fetch game details.'); }
                    });
                } else { alert('No games selected.'); }
            });
        });
        </script>
    </head>

    <body class="column center">
        <header class="column center">
            <h2>Find YOUR NextGame</h2>
        </header>

        <main class="row">
            <div id="user" class="column-top">
                {% if user %}
                <h3>Hello User!</h3>
                {% else %}
                <h3>Sign In / Up Now! <br> Save Your Searches</h3>
                <button>Sign In</button>
                <button>Sign Up</button>
                {% endif %}
            </div>

            <div id="search" class="column-top">
                <p> Enter the Genre, Tag, and Platform that applies to your search! <br>
                    You can also enter up to 3 similar games to enhance your search </p>

                <div id="sections" class="row-top">
                    <form action="{{ url_for('_index.game_autocomplete') }}" method="get" class="column-top">
                        <div class="row-left">
                            <label for="game_1">Game 1</label>
                            <input autocomplete="off" type="text" id="game_1" placeholder="Search for game..." />
                        </div>
                        <div class="row-left">
                            <label for="game_2">Game 2</label>
                            <input autocomplete="off" type="text" id="game_2" placeholder="Search for game..." />
                        </div>
                        <div class="row-left">
                            <label for="game_3">Game 3</label>
                            <input autocomplete="off" type="text" id="game_3" placeholder="Search for game..." />
                        </div>
    
                        <input type="hidden" id="id_1" />
                        <input type="hidden" id="id_2" />
                        <input type="hidden" id="id_3" />
                        <button type="button" id="confirm">Confirm</button>
                    </form>
        
                    <form action="{{ url_for('_index.game_search') }}" method="post" class="column-top">
                        <div class="row-left">
                            <label for="genre">Genre</label>
                            <select name="genre" id="genre">
                                {% for genre_name, genre_id in genres.items() %}
                                <option value="{{ genre_name }}">{{ genre_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
        
                        <div class="row-left">
                            <label for="tag">Tag</label>
                            <select name="tag" id="tag">
                                {% for tag_name, tag_id in tags.items() %}
                                <option value="{{ tag_name }}">{{ tag_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
        
                        <div class="row-left">
                            <label for="platform">Platform</label>
                            <select name="platform" id="platform">
                                {% for platform_name, platform_id in platforms.items() %}
                                <option value="{{ platform_name }}">{{ platform_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
        
                        <input type="hidden" id="similar_genres" name="similar_genres" />
                        <input type="hidden" id="similar_tags" name="similar_tags" />
                        <input type="hidden" id="similar_platforms" name="similar_platforms" />
                        <button type="submit">Find Your Games!</button>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>