<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NextGame : Now!</title>

        <link rel="stylesheet" href="https://adz946.github.io/css/flex.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" /> 
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>

        <script>
            $(function() {
                // Setup autocomplete function pulling from _index.game_autocomplete route
                ['game_1', 'game_2', 'game_3'].forEach(function(id) {
                    $('#' + id).autocomplete({
                        source: '{{ url_for("_index.game_autocomplete") }}',
                        minLength: 3,
                        select: function(event, ui) {
                            // Select Title
                            event.preventDefault();
                            $(this).val(ui.item.label);
                            // Add ID
                            let num = $(this).attr("id").split("_")[1]
                            $("#id_" + num).val(ui.item.id)
                        }
                    });
                });
            })
        </script>
    </head>

    <body class="column-top">
        <header class="column center">
            <h2>Find YOUR NextGame</h2>
        </header>

        <main class="row">
            <div id="user" class="column-top">
                {% if user %}
                <div id="userContent" class="column center">
                    <div class="column-top">
                        <img id="profileImg" src="{{ user['ProfileImg'] }}" alt="Your Profile Pic" height="150" />
                        <h2>{{ user["Username"] }}</h2>
                    </div>

                    <div class="column-bottom">
                        <a href="{{ url_for('_searches.searches') }}"> <button>Your Searches</button> </a>
                        <a href="{{ url_for('_login.login') }}"> <button>Sign Out</button> </a>
                    </div>
                </div>
                {% else %}
                <h3>Sign In / Up Now! <br> Save Your Searches</h3>
                <a href="{{ url_for('_login.login') }}"> <button>Sign In</button> </a>
                <a href="{{ url_for('_register.register') }}"> <button>Sign Up</button> </a>
                {% endif %}
            </div>

            <div id="search" class="column-top">
                <p> Enter the Genre, Tag, and Platform that applies to your search! <br>
                    You can enhace your search with our 3 Title Search-Bars (Search Results take a few seconds) </p>

                {% if error %} <p class="error">{{ error }}</p> {% endif %}

                <div id="sections" class="row-top">
                    <div id="section_1" class="column-top">
                        <div class="row-left">
                            <label for="game_1">Game Title 1</label>
                            <input autocomplete="off" type="text" id="game_1" placeholder="Enter at least 3 characters here..." />
                        </div>
                        <div class="row-left">
                            <label for="game_2">Game Title 2</label>
                            <input autocomplete="off" type="text" id="game_2" placeholder="Enter at least 3 characters here..." />
                        </div>
                        <div class="row-left">
                            <label for="game_3">Game Title 3</label>
                            <input autocomplete="off" type="text" id="game_3" placeholder="Enter at least 3 characters here..." />
                        </div>
    
                        <input type="hidden" id="id_1" />
                        <input type="hidden" id="id_2" />
                        <input type="hidden" id="id_3" />
                    </div>

                    <div id="section_2" class="column-top">
                        <div class="row-left">
                            <label for="genre">Genre</label>
                            <select name="genre" id="genre">
                                {% for genre_name, genre_id in genres.items() %}
                                <option value="{{ genre_name }}|{{ genre_id }}">{{ genre_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
        
                        <div class="row-left">
                            <label for="tag">Tag</label>
                            <select name="tag" id="tag">
                                {% for tag_name, tag_id in tags.items() %}
                                <option value="{{ tag_name }}|{{ tag_id }}">{{ tag_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
        
                        <div class="row-left">
                            <label for="platform">Platform</label>
                            <select name="platform" id="platform">
                                {% for platform_name, platform_id in platforms.items() %}
                                <option value="{{ platform_name }}|{{ platform_id }}">{{ platform_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <button id="confirm">Confirm Details</button>
                <hr>
                
                <div id="similar_games" class="hidden"> <h2>Similar Games</h2> </div>   
                <div id="filters" class="hidden"> <h2>All Filters</h2> </div>
                <br><br>

                <form id="confirm_form" action="{{ url_for('_index.game_search') }}" method="post" class="row-top hidden">
                    <input type="hidden" id="similar_genres" name="similar_genres" />
                    <input type="hidden" id="similar_tags" name="similar_tags" />
                    <input type="hidden" id="similar_platforms" name="similar_platforms" />
                    <input type="hidden" id="search_limit" name="search_limit" value="10" />

                    <h4>How Many Games Are We Finding?</h4>
                    <div id="limit-div" class="row center">
                        <button type="button" id="limit_5" class="limit_btn">5</button>
                        <button type="button" id="limit_10" class="limit_btn active">10</button>
                        <button type="button" id="limit_15" class="limit_btn">15</button>
                        <button type="button" id="limit_20" class="limit_btn">20</button>
                    </div>

                    <button type="submit">Find YOUR NextGames</button>
                </form>
            </div>
        </main>
    </body>
</html>